<%- include('index'); -%>

<form method="post">
<table>
    <tr>
        <td>Name:</td>
        <td><input type="text" placholder="Enter Name" name="name" id="name" required="true"></td>
    </tr>
    <tr>
        <td>Email:</td>
        <td><input type="email" placholder="Enter Email" name="email" id="email" required="true"></td>
    </tr>
    <tr>
        <td>Name:</td>
        <td><input type="number" placholder="Enter phone" name="phone" id="phone" required="true"></td>
    </tr>
    <tr>
        <td>Name:</td>
        <td><input type="text" placholder="Enter comment" name="comments" id="comments" required="true"></td>
    </tr>
    <tr>
        <td><input type="submit">
        <input type = "button" value="Display" onclick="window.location ='display'">
        </td>
    </tr>
</table>
</form>